body{
    background-color: black;
}
/* Center the countdown timer on the page */
#countdown-timer {
    font-family: Arial, sans-serif;
    color: rgb(216, 211, 206);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-size: 4rem;
}
h1{
    text-align: center;
    color: azure;
}
