body{
    background-color: black;
}
/* Center the countdown timer on the page */
#countdown-timer {
    font-family: Arial, sans-serif;
    color: #d8d3ce;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 3rem;
}
p{
    
    text-align: center;
    color: #d8d3ce;
    font-family: Arial, sans-serif;
    font-size: 3rem;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;    
    border: solid whitesmoke 2px;
    align-items: center; 
    border-radius: 25px;   
}