.container{
    background-color: antiquewhite;
    width: ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    align-items: center;
    
    flex-wrap: wrap;
    align-content: center;
}
img{
    border: solid darkblue;

}